body {
    height: 20vh;
    font-weight: 20px;
    font-size: 27px;
}

html { 
        background: url(images/ryboyardpic3.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }


h1 {
    color: rgb(134, 198, 169);
    text-align: center;
    font-family: sans-serif;

}

hr {
    height: 10px;
    background-color: rgba(145, 106, 134, 0.708);
    border-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: rgb(15, 22, 4);
}

h2 {
    color: rgb(204, 255, 196);
    max-block-size: 5%;
    text-align: center;


}

p {
    color: white (29, 23, 182, 0.713);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif P;

}
 mark {
    color: rgba(7, 40, 225, 0.852);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: inset;
    border-width: 9px;
    border-color: rgba(46, 11, 158, 0.631);
    color-interpolation-filters: linearRGB;
   
 }